body {
	width: 100%;
	height: 100%;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.4em;
}

.blood {
	position: relative;
}

.egg1, .egg2, .egg3 {
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: blood_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blood_anim {
    from {background: #FF0000;
    	opacity: .8;
    }
    to {background: #FFA600;
    	opacity: .4;
    }
}

/* Standard syntax */
@keyframes blood_anim {
    from {background: #FF0000;
    	opacity: .8;
    }
    to {background: #FFA600;
    	opacity: .4;
    }
}

.egg1, .egg2, .egg3 {
	position: absolute;
	opacity: .8;
	left: 197px;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.egg1 {
	top: 168px;
    width: 12px;
    height: 36px;
}

.egg2 {
	top: 228px;
    width: 14px;
    height: 34px;
}

.egg3 {
	top: 285px;
    width: 16px;
    height: 41px;
}

.wrapper {
	height: 100vh;
	width: 100%;
	background: url(../img/l2classic-min.jpg) 30% 30% no-repeat;
	background-size: cover;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

h1 {
	font-family: 'Condiment', cursive;
	font-size: 9em;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
	color: #FFC641;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, .8);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {color: #FF3B0F;}
    to {color: #FFC905;}
}

/* Standard syntax */
@keyframes example {
    from {color: #FF3B0F;}
    to {color: #FFC905;}
}

h1 span {
	font-size: .8em;
}

.buttons {
	width: 700px;
	display: flex;
	justify-content: space-around;
}

.buttons a {
	text-decoration: none;
	animation-name: buttons_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
	color: #FFC641;
	font-size: 1.7em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes buttons_anim {
    from {color: #0AFFFB;}
    to {color: #1E61FF;}
}

/* Standard syntax */
@keyframes buttons_anim {
    from {color: #0AFFFB;}
    to {color: #1E61FF;}
}

.discord, .forum {
	height: 254px;
	width: 254px;
}

.buttons__text {
	padding-bottom: 80px;
	text-align: center;
	position: relative;
}

.buttons__text img {
	width: 36px;
	position: absolute;
	top: 50px;
	left: 109px;
}

.img_scale {
	opacity: .6;
}

.img_scale:hover {
	opacity: 1;
	transform: scale(1.18);
	transition: all .3s ease-in-out;
}

.hiden {
	height: 20px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	color: #f2f2f2;
	font-size: 0.5em;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, .5);
}
